.page-header {
  position: relative;
  min-height: 240px;
  padding: 100px 0 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  &::before {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 40px;
    content: '';
    background-image: url('../img/bg-services.png');
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}
.page-header__title {
  font-family: $font-beb;
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 1.2px;
  color: #fff;
}
