.sale-slider {
  width: 100%;
  max-width: 960px;
  margin: 0 auto -100px;
  position: relative;
  z-index: 1;

  @include max(1000) {
    max-width: 90vw;
  }
  @include max(550) {
    max-width: 85vw;
  }

  .slick-arrow {
    position: absolute;
    z-index: 10;
    width: 39px;
    height: 39px;
    background-image: url('../img/top-slider-arr.png');
    &.slick-next {
      right: calc(50% - 20px);

      @include max(1000) {
        right: -25px;
      }
    }
  }
}
.sale-slider__item {
  display: flex !important;
  clip-path: polygon(0 10%, 6% 0%, 6% 0%, 29% 2%, 29% 2%, 51% 0%, 51% 0%, 82% 2%, 82% 2%, 95% 0%, 95% 0%, 100% 9%, 100% 9%, 99% 43%, 99% 43%, 100% 85%, 100% 85%, 95% 100%, 95% 100%, 81% 96%, 81% 96%, 39% 99%, 39% 99%, 20% 94%, 20% 94%, 4% 97%, 4% 97%, 0 65%);
}
.sale-slider__item-text,
.sale-slider__item-pic {
  width: 50%;
}
.sale-slider__item-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 340px;
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to top, #074c6a 0%, #0a6993 100%);

  @include max(1000) {
    width: 100%;
  }
}
.sale-slider__item-pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(1000) {
    display: none;
  }
}
.sale-slider__text-01,
.sale-slider__text-02,
.sale-slider__text-03,
.sale-slider__text-04 {
  text-transform: uppercase;
  color: #fff;
}
.sale-slider__text-01 {
  font-family: $font-beb-b;
  font-size: 48px;
  @include max(550) {
    font-size: 40px;
  }
}
.sale-slider__text-02 {
  font-family: $font-beb-b;
  font-size: 36px;
  @include max(550) {
    font-size: 26px;
  }
}
.sale-slider__text-03 {
  font-family: $font-beb-b;
  font-size: 72px;
  @include max(550) {
    font-size: 60px;
  }
}
.sale-slider__text-04 {
  font-family: $font-beb;
  font-size: 18px;
  letter-spacing: .4px;
  @include max(550) {
    font-size: 16px;
  }
}
.sale-slider__btn {
  font-size: 24px;
  margin-bottom: 50px;
}
