.services-sec {
  position: relative;
  padding-top: 70px;
  background-image: url('../img/bg-services.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
  //padding-bottom: 250px;
}
.services-sec__header-title {
  font-family: $font-beb-b;
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #3490bc;
}
.services-sec__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-sec__item {
  display: flex;
  align-items: center;
  flex: none;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin-bottom: 50px;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  @include max(940) {
    width: 25%;
  }
  @include max(700) {
    width: 50%;
    max-width: 225px;
  }
  &:hover {
    .services-sec__title {
      color: #40a5d5;
    }
    svg.services-sec-bg {
      fill: #40a5d5;
    }
  }
}
.services-sec__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 115px;
  margin-bottom: 15px;
  & > svg {
    position: relative;
    z-index: 1;
    width: 73px;
    height: 73px;

    fill: #fff;
  }
}
.services-sec__title {
  font-family: $font-beb-b;
  font-size: 24px;
  line-height: 1.1;
  transition: color .5s;
  text-transform: uppercase;
  color: #3490bc;
  display: block;
  @include max(425) {
    font-size: 20px;
  }
}
svg.services-sec-bg {
  position: absolute;
  width: 113px;
  height: 115px;
  transition: fill .5s;

  fill: #3490bc;
}
