//begin breaking-sec
section.breaking-sec
  .container
    header.breaking-sec__header
      h2.breaking-sec__header-title Признаки неисправности
    .breaking-sec__body
      .breaking-sec__item.breaking-sec__item--text
        p Автомобильный кондиционер, как и любой сколько-либо сложный механизм, подвержен поломкам и неисправностям, которые возникают из-за износа или поломок отдельных его компонентов. И любая неисправность системы кондиционирования доставляет много неприятностей, ведь в этом случае теряется тот комфорт, к которому так привыкли!
      .breaking-sec__item.breaking-sec__item--ul
        ul
          li Неравномерная работа кондиционера
          li Недостаточная холодопроизводительность
          li Посторонний шум
          li Появление запаха из системы
          li Неисправности компрессора и муфты
          li Неисправности компонентов кондиционера
      .breaking-sec__item.breaking-sec__item--img
        img(src="assets/img/breaking-sec.jpg" alt="img")
      .breaking-sec__item.breaking-sec__item--text
        p Если вы заметили, что ваш кондиционер работает не так, как нужно, или выявили одну из вышеперечисленных проблем - стоит обратиться в специализированный сервис! Запишитесь на диагностику прямо сейчас!

    footer.breaking-sec__footer
      button.breaking-sec__btn.btn.popup-open
        span Диагностика бесплатно

//end   breaking-sec