//begin contacts-sec
section.contacts-sec
  .container
    header.contacts-sec__header
      h2.contacts-sec__header-title Контакты
    .contacts-sec__row
      .contacts-sec__item.contacts-sec__item--left
        svg
          use(xlink:href="assets/img/sprite.svg#marker")
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__adress
          | м. Балтийская
          br
          | ул. Розенштейна, 38
        a(href="tel:+78127771886").contacts-sec__phone +7 (812) 777-18-86
      .contacts-sec__item.contacts-sec__item--middle
      .contacts-sec__item.contacts-sec__item--right
        svg
          use(xlink:href="assets/img/sprite.svg#marker")
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__adress
          | м. Ленинский проспект
          br
          | Брестский бульвар, 9А
        a(href="tel:+78127771889").contacts-sec__phone +7 (812) 777-18-89
    button.top-slider__btn.btn.popup-open
      span Записаться на диагностику

//end   contacts-sec