//begin footer
footer.footer
  .container
    a(href="#").footer__link Политика конфиденциальности
    a(href="#").footer__link Пользовательское соглашениие
    a(href="#").footer__link.footer__link--copyright Копирайт 2018    Сделано в ProShift
//end footer