//begin page-header
section.page-header(style="background-image:url('assets/img/top-slider-02.jpg')")
  .container
    h1.page-header__title #{pageHeaderTitle}
    include ../elements/breadcrumbs
//end   page-header