mixin sale-slider__item(pic, text01)
  //.sale-slider__item(style="clip-path: polygon(0% 9%0% 9%, 6% 0%, 6% 0%, 29% 2%, 29% 2%, 51% 0%, 51% 0%, 82% 2%, 82% 2%, 95% 0%, 95% 0%, 100% 9%, 100% 9%, 99% 43%, 99% 43%, 100% 85%, 100% 85%, 95% 100%, 95% 100%, 81% 96%, 81% 96%, 39% 99%, 39% 99%, 20% 94%, 20% 94%, 4% 97%, 4% 97%, 2% 68%, 2% 68%, 2% 32%, 2% 32%);")
  .sale-slider__item
    .sale-slider__item-text
      span.sale-slider__text-01 #{text01}
      span.sale-slider__text-02 заправка кондиционера
      span.sale-slider__text-03 499р.
      span.sale-slider__text-04 Вы можете продиагностировать и заправить хладагентом ваш автомобильный кондиционер по акции
      button.sale-slider__btn.btn.popup-open
        span Записаться

    .sale-slider__item-pic(style='background-image:url("assets/img/sale-slider-' + pic + '.jpg")')

//begin sale-slider
section.sale-slider-wrap
  section.sale-slider#sale-slider
    +sale-slider__item('01', 'АКЦИЯ!')
    +sale-slider__item('01', 'АКЦИЯ!!')
    +sale-slider__item('01', 'АКЦИЯ!!')
//end   sale-slider