//begin why-we
section.why-we
  .container
    header.why-we__header
      h2.why-we__header-title Почему мы?
    .why-we__list
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Бесплатная
          br
          |диагностика
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Большой
          br
          |зал ожидания
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Гарантия
          br
          |1 год
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Оригинальные
          br
          |комплектующие
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Прозрачные
          br
          |цены
      .why-we__item
        svg
          use(xlink:href="assets/img/sprite.svg#star")
        span.why-we__title
          |Квалифицированные
          br
          |мастера
    button.why-we__btn.btn.popup-open
      span Записаться на диагностику
//end   why-we