//begin why-sec
section.why-sec
  .container
    header.why-sec__header
      h2.why-sec__header-title почему климат в авто так важен?
      p Не многие догадываются что климатическая система автомобиля работает не только летом, но и зимой, осушая воздух и тем самым препятствуя запотеванию стекол. Кроме прохлады летом, кондиционер выполняет множество функций, о которых вы могли и не догадываться.
    .why-sec__body
      .why-sec__tooltip.why-sec__tooltip--wet
        svg
          use(xlink:href="assets/img/sprite.svg#exclamation")
        h4.why-sec__tooltip-title Влажность
        .why-sec__tooltip-message
          p Не многие догадываются что климатическая система автомобиля работает не только летом, но и зимой, осушая воздух и тем самым препятствуя запотеванию стекол. Кроме прохлады летом, кондиционер выполняет множество функций, о которых вы могли и не догадываться.

      .why-sec__tooltip.why-sec__tooltip--clean
        svg
          use(xlink:href="assets/img/sprite.svg#exclamation")
        h4.why-sec__tooltip-title Чистота воздуха
        .why-sec__tooltip-message
          p Не многие догадываются что климатическая система автомобиля работает не только летом, но и зимой, осушая воздух и тем самым препятствуя запотеванию стекол. Кроме прохлады летом, кондиционер выполняет множество функций, о которых вы могли и не догадываться.

      .why-sec__tooltip.why-sec__tooltip--temper
        svg
          use(xlink:href="assets/img/sprite.svg#exclamation")
        h4.why-sec__tooltip-title Температура в салоне
        .why-sec__tooltip-message
          p Не многие догадываются что климатическая система автомобиля работает не только летом, но и зимой, осушая воздух и тем самым препятствуя запотеванию стекол. Кроме прохлады летом, кондиционер выполняет множество функций, о которых вы могли и не догадываться.

  .why-sec__car
  footer.why-sec__footer
    .container
      p Доверьтесь профессионалам и проверьте работу вашей климатической системы прямо сейчас!
      button.why-sec__btn.btn.popup-open
        span Диагностика бесплатно

//end   why-sec