//begin popup
.popup__layer
  .popup
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    .popup__inn
      h3.popup__title
        |Перезвоним за
        =" "
        span 5 минут
      form.popup__form
        input.popup__input(name="name" placeholder="Имя")
        input.popup__input(name="phone" placeholder="Телефон")
        .popup__btn.btn
          span Оставить заявку
          input.popup__input--submit(type="submit" value=".")
//end popup