@font-face {
  font-family: BebasNeueRegular;
  src:  url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff')  format('woff');
}


@font-face {
  font-family: BebasNeueBold;
  src:  url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff')  format('woff');
}

@font-face {
  font-family: OpenSans;
  src:  url('../fonts/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans.woff')  format('woff');
}

@font-face {
  font-family: OpenSans-Bold;
  src:  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff')  format('woff');
}

