// ***** main colors *******
$brand: #3490bc;
$dark: #181a19;
$light: #f5f5f5;

$highlight: #3490bc;

// ***** text colors *******
$text: #2f2f2f;
$title: #2f2f2f;

// ===== fonts =====
$font-beb:   'BebasNeueRegular', sans-serif;
$font-beb-b: 'BebasNeueBold', sans-serif;
$font-os:    'OpenSans', sans-serif;
$font-os-b:  'OpenSans-Bold', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
