extends ../_template

block variables
  - var title = 'Кондеи'

block content
  include ../sections/header
  
  //begin content
  section.main.index

    include ../sections/top-slider
    include ../sections/services-sec
      include ../sections/sale-slider
    include ../sections/why-we
    include ../sections/breaking-sec
    include ../sections/why-sec

    include ../sections/blog-sec
    include ../sections/contacts-sec
    include ../sections/map

  //end content

  include ../elements/popup
  include ../sections/footer