extends ../_template

block variables
  - var title = 'Кондеи'

block content
  include ../sections/header
  
  //begin content
  section.main.index

    include ../sections/top-slider
    include ../sections/services-sec
      include ../sections/sale-slider
    include ../sections/why-we
    include ../sections/breaking-sec
    include ../sections/why-sec

    include ../sections/blog-sec
    include ../sections/contacts-sec
    .index-map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.3025330127857!2d30.341426316096488!3d59.92712198187195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631aed6a1f4c5%3A0x347291660c1bdca5!2z0YPQuy4g0KDRg9Cx0LjQvdGI0YLQtdC50L3QsCwgMzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MTAwMg!5e0!3m2!1sru!2sua!4v1523951027141', frameborder='0', style='border:0', allowfullscreen='')

  //end content

  include ../elements/popup
  include ../sections/footer