extends ../_template

block variables
  - var title = 'Услуги | Кондеи'
  - var pageHeaderTitle = 'Услуги'

block content
  include ../sections/header

  //begin content
  section.main.inner
    include ../sections/page-header
    .container.container--main
      .page-top-icon
        svg.page-top-icon__bg
          path(d='M924,222.2l9.628-25.8,19.257-1.2,10.832-7.2,19.256,3.6L992,207.8l-1.2,15-4.814,28.8-22.265.6L943.858,257l-7.823-10.2-8.425-9Z', transform='translate(-924 -188)')
        svg
          //use(xlink:href='assets/img/sprite.svg#test')
          use(xlink:href='assets/img/sprite.svg#services-01')

      include ../sections/aside
      .container.page-container
        h1 Ремонт кондиционеров 1
        h2 Ремонт кондиционеров 2
        h3 Заголовок 3
        h4 Заголовок 4
        h5 Заголовок 5
        h6 Заголовок 6

        p Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны сложившаяся структура организации требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
        p
         |Равным образом дальнейшее развитие различных форм деятельности играет важную роль в
         =" "
         a(href="#") формировании форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения
         =" "
         |прогрессивного развития. Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение форм развития. Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.

         ol
          li Пункт 1
          li Пункт 2
          li Пункт 3

         ul
          li Пункт 1
          li Пункт 2
          li Пункт 3
         
          
         img(src="assets/img/inner.jpg" alt="img")


    include ../sections/contacts-sec
    include ../sections/map

  //end content

  include ../sections/footer
