extends ../_template

mixin services-sec__item(svg, title)
  a(href="#").service__item
    .service__icon
      svg.service-bg
        path(d="M430,780l16-43,32-2,18-12,32,6,15,27-2,25-8,48-37,1-33,8-13-17-14-15Z" transform="translate(-430 -723)")
      svg
        use(xlink:href='assets/img/sprite.svg#services-' + svg + '')
    span.service__title #{title}


block variables
  - var title = 'Inner | Кондеи'
  - var pageHeaderTitle = 'Услуги'

block content
  include ../sections/header

  //begin content
  section.main.service
    include ../sections/page-header
    .container.container--main
      .page-top-icon
        svg.page-top-icon__bg
          path(d='M924,222.2l9.628-25.8,19.257-1.2,10.832-7.2,19.256,3.6L992,207.8l-1.2,15-4.814,28.8-22.265.6L943.858,257l-7.823-10.2-8.425-9Z', transform='translate(-924 -188)')
        svg
          //use(xlink:href='assets/img/sprite.svg#test')
          use(xlink:href='assets/img/sprite.svg#services-01')

      include ../sections/aside
      .container.page-container
        h2.page-title Ремонт кондиционеров
        p Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Товарищи! сложившаяся структура организации позволяет оценить значение систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. Таким образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения соответствующий условий активизации.

        .service__list
          +services-sec__item('01', 'заправка и обслуживание')
          +services-sec__item('02', 'антибактериальная обработка')
          +services-sec__item('01', 'ремонт кондиционеров')
          +services-sec__item('02', 'ремонт компрессоров')
          +services-sec__item('02', 'заправка и обслуживание')
          +services-sec__item('01', 'антибактериальная обработка')
          +services-sec__item('02', 'ремонт кондиционеров')
          +services-sec__item('02', 'ремонт компрессоров')

        p Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Товарищи! сложившаяся структура организации позволяет оценить значение систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. Таким образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения соответствующий условий активизации.

    include ../sections/contacts-sec
    include ../sections/map

  //end content

  include ../sections/footer
